<launch>

    <node pkg="goicp" type="point3d_publisher" name="model_pub"  output="screen"
        args=" /home/mike/catkin_ws/src/goicp/demo/model_bunny.txt model_frame">
        <remap from="cloud" to="go_icp/model_cloud"/>
        <!-- <param name="cloud_frame" value="model_frame"/> -->
    </node>

    <node pkg="goicp" type="point3d_publisher" name="data_pub" output="screen" 
        args=" /home/mike/catkin_ws/src/goicp/demo/data_bunny.txt data_frame">
        <remap from="cloud" to="go_icp/data_cloud"/>
        <!-- <param name="cloud_frame" value="data_frame"/> -->
    </node>

    <node pkg="goicp" type="go_icp_node" name="go_icp" output="screen">
        <param name="config_filename" value="/home/mike/catkin_ws/src/goicp/demo/config.txt"/>
        <param name="nd_downsampled" value="500"/>
    </node>

</launch>